body {
    min-height: 100vh;
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header h2 {
    text-align: center;
}

header nav {
    text-align: center;
}

header nav a {
    text-decoration: none;
}

img {
    margin: 0 auto;
    margin-top: -80px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}

main p {
    margin: 40px 0 auto;
}

p {
    text-align: center;
    margin: 0 auto;
    display: flex;
}

footer {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}