body {
    background:#828282;
}

header {
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header h1 {
    color: white;
}
header nav a {
    color: white;
    text-decoration: none;
}

header h5 nav a{
    color: white;
    text-decoration: none;
    flex-direction: column;
}
