body {
  background: #828282;
  text-align: center;
}

.project {
  height: 150px;
}

nav {
  position: fixed;
  top: 0px;
  width: 100%;
}
header {
  margin-top: 30px;
}

.main .image {
  margin: 40px auto;
  display: flex;
}
.more {
  float: left;
}
#portfolio a img {
  text-align: center;
  justify-content: left;
}

h3 {
  text-align: left;
}
